<div class="header-bar">
    <div>
        <a class="home-link" routerLink="/home">
            <div class="symbol"></div>
            <div>
                <span class="name">Bérenger Caby</span>
                <div>Software developer</div>
            </div>
        </a>
    </div>

    <div style="display:flex;">
        <div class="navigation-bar"
             [class.toggled]=toggled>

             <div class="navbar">
                @for (item of items; track item) {
                    <a routerLink={{item.hyperlink}} routerLinkActive="active" (click)="Toggle()">
                        <div class="navbar-item">
                            <div class="navbar-title">{{item.title}}</div>
                        </div>
                    </a>
                 }
            </div>
        </div>

        <div class="header-button-section">
            <button class="header-button"
                    [class.toggled]=toggled 
                    (click)="Toggle()">
                <div class="menu-line line-1"></div>
                <div class="menu-line line-2"></div>
                <div class="menu-line line-3"></div>
            </button>
        </div>
    </div>
</div>

@if (toggled)
{
    <div class="overlay" (click)="Toggle()"></div>
}