.step {
  background-color: white;
  border-radius: var(--border-radius);
  padding: var(--sg_xlg);
  border: 1px solid var(--grey-default);
}

.step-title {
  color: var(--primary);
  font-size: 18px;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}

.step-picture {
  width: 100%;
}

@media (max-width: 720px) {
  .step-picture {
    width: 100%;
  }
}